body{
  background-image:  linear-gradient(#b8870b9f, #d1ad51ce), url("https://www.biography.com/.image/t_share/MTY5NzQ2NDYzNTg3MzEyODk4/bio-headers-groups-black-writers.jpg");
  height: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/* linear-gradient(#b8860b, #f0daa3), */

#navRow{
  margin-bottom: 15%;
}
#loginSignup{
  max-width: 40%;
  margin-left: 35%;
}
#navbar{
  height: 10%;
}

h1#navbar{
  font-style: italic;
}

.image{
  opacity: .2;
  max-height: 35vh;
  max-width: 35vw;
}


 #catCardDeck{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

.itemCard{
  margin-bottom: 10%;
}

.cardText{
  display:flex;
  flex-direction: column;
}
.catCardTitle{
  align-self: center;
  margin-top: 22%;
}
/* .cardBody{
  display:flex;
  flex-direction: column;
}
 */ 

/* .App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: start;

} */

/* Navbar Styling */
/* div.nav{
  overflow-y: hidden;
  text-align: center;
  background-color: black;
  color: white;
  height: 10%;
  top: 0;
  width: 100vw;
  position: sticky;
  margin-bottom: 15%;
}

div.nav > li{
  list-style-type: none;
  font-size: 40px;
} */

/* div.loginSignup{ 
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 20%;
}

form.login{
  background-color: black;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}
form.login > input{
  max-width: 40%;
  align-self: center;
  justify-self: end;
} */
/* form.login > button{
  max-width: 40%;
  align-self: center;
} */